//
//  Secrets.xcconfig
//  LEA-Speech
//
//  Created by Christian Cornelius on 11.02.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

AZURE_SPEECH_KEY = EkLKrM2xPmlotL6xLfO8JpZBNCySmxigQjsy8mRMGyf5YKDhWq0MJQQJ99CAACPV0roXJ3w3AAAYACOGtFaZ
AZURE_SPEECH_REGION = germanywestcentral
